@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
@font-face {
  font-family: fugaz;
  src: url(./FugazOne-Regular.ttf);
}
body {
  color: #fff;
  background: #000;
  font-family: fugaz;
}

@font-face {
  font-family: erica;
  src: url(./erica-one.regular.ttf);
}




.biggest{
  font-family: erica;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
}

.box{
  display: -webkit-box;
};
